n8n/contact-form-workflow.json
{
  "name": "NeoFlow BOS - Bug Report Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neoflow-contact",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "1c860332-b128-463d-b066-84ff73554af6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 48],
      "webhookId": "neoflow-contact"
    },
    {
      "parameters": {
        "chatId": "7866882300",
        "text": "= Nouveau rapport de bug\n\nTitre : {{ $json.body.title }}\nPriorite : {{ $json.body.priority }}\n\nUtilisateur nom : {{ $json.body.user_name }}\nUtilisateur ID : {{ $json.body.user_id }}\nUtilisateur email : {{ $json.body.user_email }}\nWorkspace : {{ $json.body.workspace_name }}\nWorkspace ID : {{ $json.body.workspace_id }}\nDate : {{ $json.body.created_at }}\n\nDescription :\n{{ $json.body.description }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-400, 48],
      "id": "6dfa3f75-8a95-455f-92f2-a142e772ec96",
      "name": "Send Telegram Message",
      "credentials": {
        "telegramApi": {
          "id": "gnyutPSSjt1Z3WWP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cond-screenshot",
              "leftValue": "={{ $('Webhook').item.json.body.screenshot_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-screenshot",
      "name": "IF Screenshot",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-200, 48]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "7866882300",
        "file": "={{ $('Webhook').item.json.body.screenshot_url }}",
        "additionalFields": {
          "caption": "= Capture d'ecran - {{ $('Webhook').item.json.body.title }}"
        }
      },
      "id": "send-screenshot",
      "name": "Send Screenshot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [0, -50],
      "credentials": {
        "telegramApi": {
          "id": "gnyutPSSjt1Z3WWP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-ok",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [200, 48]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "IF Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Screenshot": {
      "main": [
        [
          {
            "node": "Send Screenshot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Screenshot": {
      "main": [
        [
          {
            "node": "Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "NeoFlow BOS"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bf6ad1c966be1a0d45a5a39ab28d5eff6cb8beaf3eb25ecac6560f129486fd0"
  }
}
