n8n/neo-chat-workflow.json
{
  "name": "Neo IA - NeoFlow BOS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neo-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "neoflow-neo-chat"
    },
    {
      "parameters": {
        "jsCode": "// Construire la requête Ollama avec prompt système contextuel\nconst body = $input.first().json;\nconst { message, context, history } = body;\n\nconst pageLabels = {\n  '/dashboard': 'Tableau de bord',\n  '/vente-rapide': 'Vente rapide (POS)',\n  '/commandes': 'Liste des commandes',\n  '/commandes/nouvelle': 'Création de commande',\n  '/factures': 'Liste des factures',\n  '/devis': 'Liste des devis',\n  '/clients': 'Liste des clients',\n  '/produits': 'Catalogue produits',\n  '/stock': 'Gestion du stock',\n  '/livraisons': 'Planning des livraisons',\n  '/fournisseurs': 'Gestion fournisseurs',\n  '/dashboard-financier': 'Statistiques et performances',\n  '/settings': 'Paramètres',\n  '/documentation': 'Documentation',\n};\n\nconst roleFr = {\n  'proprietaire': 'Propriétaire (accès complet)',\n  'manager': 'Manager (gestion opérationnelle)',\n  'vendeur': 'Vendeur (ventes et clients)',\n  'livreur': 'Livreur (livraisons et paiements)',\n};\n\nconst pageName = pageLabels[context?.page] || context?.page || 'Inconnue';\nconst roleDesc = roleFr[context?.role] || context?.role || 'Inconnu';\n\nconst systemPrompt = `Tu es Neo, l'assistant IA de NeoFlow BOS — un logiciel de gestion spécialisé pour les magasins de literie.\n\nTon rôle : aider les utilisateurs à comprendre et utiliser l'application, répondre aux questions métier, et les guider dans leurs tâches quotidiennes.\n\nContexte de l'utilisateur :\n- Page actuelle : ${pageName}\n- Rôle : ${roleDesc}\n- Workspace (magasin) : ${context?.workspace_name || 'NeoFlow BOS'}\n\nFonctionnalités de NeoFlow BOS que tu connais :\n- Vente rapide (POS) : ventes comptoir avec facture automatique\n- Commandes : gestion complète avec statuts, paiements multiples (acompte/solde), livraison\n- Factures et devis : création, envoi, suivi\n- Clients : CRM avec historique et statut (prospect/actif/prioritaire)\n- Produits : catalogue avec marges (prix vente - coût achat)\n- Stock : niveaux par emplacement, alertes rupture/faible, mouvements\n- Fournisseurs : bons de commande, réception marchandise\n- Livraisons : planning kanban, assignation livreur, créneaux\n- Statistiques : CA, marges, performance vendeurs (propriétaire/manager uniquement)\n\nRègles importantes :\n- Réponds TOUJOURS en français\n- Sois concis et pratique (max 3 paragraphes)\n- Adapte tes réponses au rôle : un livreur a accès à moins de fonctionnalités qu'un propriétaire\n- Pour les questions hors NeoFlow BOS, tu peux répondre brièvement mais recentre sur l'app\n- Si tu ne sais pas avec certitude, dis-le clairement`;\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...(Array.isArray(history) ? history.slice(-8) : []),\n  { role: 'user', content: message }\n];\n\nreturn {\n  ollamaRequest: {\n    model: 'llama3.2:3b',\n    messages,\n    stream: false,\n    options: {\n      temperature: 0.7,\n      num_predict: 800,\n      stop: ['<|eot_id|>', '<|end_of_text|>']\n    }\n  }\n};"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Build Ollama Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ollamaRequest) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Ollama API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [760, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n// Ollama /api/chat returns: { message: { role, content }, done, ... }\nconst reply = response?.message?.content\n  || response?.response\n  || response?.choices?.[0]?.message?.content\n  || null;\n\nif (!reply) {\n  console.error('Ollama response format unexpected:', JSON.stringify(response));\n  return { reply: 'Je rencontre un problème pour générer une réponse. Réessayez dans un instant.' };\n}\n\nreturn { reply: reply.trim() };"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1280, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Build Ollama Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Ollama Request": {
      "main": [
        [{ "node": "Ollama API", "type": "main", "index": 0 }]
      ]
    },
    "Ollama API": {
      "main": [
        [{ "node": "Extract Reply", "type": "main", "index": 0 }]
      ]
    },
    "Extract Reply": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "neo-chat-v1.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "neoflow-bos"
  },
  "id": "neoflow-neo-chat-workflow",
  "tags": ["neoflow", "ia", "neo"]
}
