n8n-workflows/8 Send Email - Worker.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "83a13f25-d336-4900-bda1-a3f6884ea8dd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [784, -48],
      "webhookId": "process-send-email"
    },
    {
      "parameters": {
        "functionCode": "// Prepare email data - handle both string and object payload\nvar body = items[0].json.body || items[0].json;\nvar rawPayload = body.payload;\nvar payload = (typeof rawPayload === 'string') ? JSON.parse(rawPayload) : (rawPayload || {});\n\nreturn [{\n  json: {\n    to: payload.to,\n    subject: payload.subject,\n    html: payload.html || payload.body || '',\n    from: payload.from || 'onboarding@resend.dev',\n    job_id: body.job_id\n  }\n}];"
      },
      "id": "909e53df-f24e-4a6d-9f07-1eba1cda564e",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [992, -48]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  from: $json.from,\n  to: [$json.to],\n  subject: $json.subject,\n  html: $json.html\n}) }}",
        "options": {}
      },
      "id": "5b4ed684-25d8-4edb-be61-3d323f893920",
      "name": "Send Email (Resend API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1184, -48],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5MmusbhHZ2FF8tFO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node['Prepare Email'].json.job_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "result",
              "fieldValue": "={{ JSON.stringify({ email_id: $json.id, sent_to: $node['Prepare Email'].json.to }) }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "c3ae7739-a944-4456-ac11-6e5c047da05b",
      "name": "Update Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1392, -48],
      "credentials": {
        "supabaseApi": {
          "id": "4Rns4DrQ8VLNwUYr",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"email_id\": $node['Send Email (Resend API)'].json.id } }}",
        "options": {}
      },
      "id": "1b4a2006-6cff-4832-a160-d27b7bb6371c",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1584, -48]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare Email", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Email": {
      "main": [
        [{ "node": "Send Email (Resend API)", "type": "main", "index": 0 }]
      ]
    },
    "Send Email (Resend API)": {
      "main": [
        [{ "node": "Update Job", "type": "main", "index": 0 }]
      ]
    },
    "Update Job": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bf6ad1c966be1a0d45a5a39ab28d5eff6cb8beaf3eb25ecac6560f129486fd0"
  }
}
